@import './normalize.styl';
@import './colors.styl';

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 24px;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}
