@mixin ui-bull-list {
  margin-bottom: 15px;
  color: var(--medium);
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      height: 4px;
      width: 4px;
      border-radius: 50%;
      margin: 0 6px;
      background-color: var(--medium);
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__link {
    &:hover {
      text-decoration: none!important;
    }
  }
}
